.wunderground-map {
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.3;
}

