<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Your personal decision maker. It's only rain, man." />
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon" />

    <title>Should I Bike To Work?</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="./public/css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div id="react-mount">{{{html}}}</div>

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    {{#development}}
      <script src="./public/js/bundle.js"></script>
    {{/development}}
    {{#production}}
      <script src="./public/js/bundle.js"></script>
    {{/production}}
  </body>
</html>
